body{
    width: 500px;
    margin: auto;
}

#divXY{
    background-color:#eeeeee;
    width: 500px;
}
.inputXY{
    display: inline;
    width: 30%;
    
}
#equation{
    width: 500px;
    border: 3px solid;
}
canvas{
    border: 3px solid;
}
